@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.heroSection{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightTheme{
    background-image: url('./images/bg-desktop-light.jpg');
}

.darkTheme{
    background-image: url('./images/bg-desktop-dark.jpg');
    background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.inCompleteTask{
    @apply text-light-500
}

.completeTask{
    @apply text-light-400 line-through
}